<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title>Logout</title>  
<style>   
Body {  
  font-family: Calibri, Helvetica, sans-serif;  
  background-color:#68ce68;  
}  
.container {   
		margin-left:25%;
		margin-right:25%;
		padding:50px;   
        background-color:white;
        border: 8px solid black;	
    }  
</style>   
</head>    
<body>  
        <!--<center><h1 style="color:white">Thank You for taking the test</h1></center>-->
        <br><br><br>
        <div class="container">  
			<center>
			<h2>
			<img src="https://media.istockphoto.com/vectors/blackwhite-vector-illustration-with-the-inscription-thank-you-simple-vector-id1201028179?k=20&m=1201028179&s=170667a&w=0&h=VEcofcZvHoLUD_r0bOCREJ4JGqgoZVj7kNwjzg5rqOs=" alt="Thank you" width="500" height="300">
			<br><div style="background-color:lightgreen;">Logged out successfully!!</div>
			</h2>
			</center>
     </div>     
</body>     
</html>  